.result-func2{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.result-func2 label{
    font-family: "Gill Sans", sans-serif;   
    font-size: 15px;
}
.sub-label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}
.des{
    font-style: italic;
}